<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104759623943-0la2i08hjm0rqmst6t4hnee371i4pjtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104759623943-0la2i08hjm0rqmst6t4hnee371i4pjtf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104759623943-n84monr7bfnf5b6914d6iqf767ahduc4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALa2BMryEqlyKGfunkJLKKRsihRMJ11mc</string>
	<key>GCM_SENDER_ID</key>
	<string>104759623943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eveco.vibeinn</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-9567a</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-9567a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104759623943:ios:3952ee44378882f22605a2</string>
</dict>
</plist>